.main {
  width: 90%;
  display: flex;
  margin: 1% auto;
  justify-content: space-between;
  /* margin-top: auto; */
}
.mainFirst {
  width: 50%;
  margin-right: 15px;
  /* background-color: aliceblue; */
  /* justify-content: center;
  align-items: center;
  height: 100%; */
}
.mainSecond {
  width: 50%;
  margin-left: 15px;
  /* background-color: aqua; */
}
